---
import MainLayout from "@/layouts/mainLayout.astro"
import HomeSection1 from "@/components/home/HomeSection1.astro"
import HomeSection2 from "@/components/home/HomeSection2.astro"
import HomeSection3 from "@/components/home/HomeSection3.astro"
import { actions } from 'astro:actions'
// Get locale from URL parameter
const { locale } = Astro.params

// Load content for the locale
const { data, error } = await Astro.callAction(actions.getLocaleContent, { locale: locale || 'en' as string })
const i18n = data?.i18n

if (error) {
    console.error('Error loading content:', error)
}
---

<MainLayout locale={locale || 'en'} i18n={i18n}>
    <div class="bg-secondary">
    <HomeSection1 currentLocale={locale} />
        <HomeSection2 currentLocale={locale} />
        <HomeSection3 currentLocale={locale} />
    </div>
</MainLayout>

