---
const {currentLocale} = Astro.props

const localesContent = {
    "en":{
        heading: "For Users",
        description: "Simple, secure, and fast payments for everyone."
    },
    "es":{
        heading: "Para Usuarios",
        description: "Pagos simples, seguros y rápidos para todos."
    }
}

const content = localesContent[currentLocale as keyof typeof localesContent]
---

<section class="container mx-auto px-4 py-16 max-w-[1440px]">
    <h1 class="text-4xl font-bold mb-6">{content.heading}</h1>
    <p class="text-lg">{content.description}</p>
</section>
