---
const {currentLocale} = Astro.props
import i18nContent from "@/i18n/content.json"
import MissionImage from "@/assets/MissionImage.png"
import VisionImage from "@/assets/VisionImage.png"
const i18n = i18nContent[currentLocale as keyof typeof i18nContent]
const localesContent = {
    "en":{
        strategicAliances: "Strategic Aliances",
        strategicAliancesDescription: "Coming soon...",
    },
    "es":{
        strategicAliances: 'Alianzas Estratégicas',
        strategicAliancesDescription: "Próximamente...",
    }
}

const content = localesContent[currentLocale as keyof typeof localesContent]
---

<section class=" px-4 py-16 w-full h-[40vh] flex flex-col bg-accent ">
   <div class="flex flex-col gap-6 items-center justify-center">
    <h2 class="text-4xl font-bold text-secondary ">{content.strategicAliances}</h2>
    <p class="text-lg font-light text-secondary">{content.strategicAliancesDescription}</p>
   </div>
</section>