---
const {currentLocale} = Astro.props

const localesContent = {
    "en":{
        heading: "How It Works",
        description: "Discover how our payment system works seamlessly."
    },
    "es":{
        heading: "Cómo funciona",
        description: "Descubre cómo funciona nuestro sistema de pagos sin problemas."
    }
}

const content = localesContent[currentLocale as keyof typeof localesContent]
---

<section class="container mx-auto px-4 py-16 max-w-[1440px]">
    <h1 class="text-4xl font-bold mb-6">{content.heading}</h1>
    <p class="text-lg">{content.description}</p>
</section>
