---
const {currentLocale} = Astro.props

const localesContent = {
    "en":{
        heading: "Contact Us",
        description: "Get in touch with our team."
    },
    "es":{
        heading: "Contáctanos",
        description: "Ponte en contacto con nuestro equipo."
    }
}

const content = localesContent[currentLocale as keyof typeof localesContent]
---

<section class="container mx-auto px-4 py-16 max-w-[1440px]">
    <h1 class="text-4xl font-bold mb-6">{content.heading}</h1>
    <p class="text-lg">{content.description}</p>
</section>
