---
import '../styles/global.css'
import Header from "@/components/global/Header.astro"
import LocaleHelper from "@/components/global/LocaleHelper.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sixth Sense Pay</title>
	</head>
	<body>
		<LocaleHelper />
		<Header />
		<slot />
	</body>
	<script>
	
	</script>
</html>