---
import '../styles/global.css'
import Header from "@/components/global/Header.astro"
import { actions } from 'astro:actions';
interface Input {
    locale: string
    path: string
}
interface Output {
    i18n: object,
	error?: string
}

const locale = await Astro.session?.get('locale')
let currentLocale = locale || "en"
const {data,error} = await Astro.callAction(actions.getLocaleContent,{locale: currentLocale})
const i18n = data?.i18n

---

<html lang={currentLocale}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sixth Sense Pay</title>
	</head>
	<body>

		<Header {i18n} />
		<slot />
	</body>
	<script>
	
	</script>
</html>