---
import { Globe } from "lucide-react"



const languages = [
    { value: "en", label: "English" },
    { value: "es", label: "Español" },
]

---

<Globe className="w-4 h-4" />
<select name="language" id="language">
    {languages.map((lang) => (
        <option value={lang.value} >{lang.label}</option>
    ))}
</select>

<script>
    import { actions } from 'astro:actions'
    const language = localStorage.getItem('locale')
    const languageSelect = document.getElementById('language')
    if (languageSelect) {
        (languageSelect as HTMLSelectElement).value = language || 'en'
    }
    languageSelect?.addEventListener('change', async(event) => {
        const newLocale = (event.target as HTMLSelectElement).value
        localStorage.setItem('locale', newLocale)
        const { data, error } = await actions.setLocale(newLocale)
        if (error) {
            console.error(error)
        }
        if (data?.success) {
            window.location.reload()
        }
        window.location.reload()
    })
</script>




